<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/stylesheet/user/whishlist.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-amd' viewBox='0 0 16 16'><path d='m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0zM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2z'/></svg>" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <div class="wrap cf">
        <h1 class="projTitle">Wishlist</h1>
        <div class="heading cf">
          <a href="/books" class="continue" style="background-color: #6b3e4b; border-radius: 20px;">Continue Shopping</a>
        </div>
        <div class="cart">
          <ul class="cartWrap">
            <% if (wishlistItems && wishlistItems.length > 0) { %>
              <% wishlistItems.forEach(item => { %>
                <li class="items">
                  <div class="infoWrap"> 
                  <h4>1</h4>
                    <div class="cartSection">
                      <img src="<%= item.productImage[0] %>" alt="" class="itemImg" />
                      <p class="itemNumber">1</p>
                      <h3><%= item.productName %></h3>
                      <p class="stockStatus">Stock Available</p>
                    </div>
                    <div class="prodTotal cartSection">
                      <p>Price: $<%= item.price %></p>
                    </div>
                   
                    <!-- Add to Cart button -->
  <div class="cartSection">
    <form action="/wish-addcart/<%=item.productId%>" method="POST">
      <input type="hidden" name="productId" value="<%= item.productId %>">
      <button type="submit" class="btn addToCart"  style="background-color: #6b3e4b; border-radius: 20px;">AddtoCart</button>
    </form>
  </div>
<div>&nbsp;&nbsp;</div>

  <div class="cartSection removeWrap">
    <form action="/removeFromWishlist/<%=item._id%>" method="POST">
      <input type="hidden" name="productId" value="<%= item._id %>">
      <button type="submit" class="remove">x</button>
    </form>
  </div>
                  </div>
                </li>
              <% }) %>
            <% } else { %>
              <li class="items">No items in wishlist</li>
            <% } %>
          </ul>
        </div>
       


      </div>
    
      
</body>
</html>
